<!-- Round 2: ww -->
<% if @player.card.role == "Werewolf" %>
  <%= render 'werewolf' %>

<% else %>
  <h2><%= "Take Your Action" %></h2>

<!-- Round 3: seer -->  
  <% if @player.card.role == "Seer" %>
  <%= render 'seer_form' %>

<!-- Round 4: robber -->
  <% elsif @player.card.role == "Robber" %>
  <%= render 'robber_form' %>

<!-- Round 5: troublemaker -->
  <% elsif @player.card.role == "Troublemaker" %>
  <%= render 'troublemaker_form' %>

<!-- Round 6: voting -->
  <% elsif @game.current_round.number == 6 %>
  <%= render 'voting_form' %>

<!-- Round 7: results -->
	<% elsif @game.current_round.number == 7 %>
	<%= render 'winner' %>

	<% end %>
<% end %>