<div class="container">
  <center>
    <%= button_to "Join Game", game_join_path, :method => :post, class: "btn btn-lg btn-info btn-block", style: "width:250px;" %>
    <br />
    <%= button_to "Create Game", '/games', :method => :post, class: "btn btn-lg btn-info btn-block", style: "width:250px;" %>
  </center>
</div>