
<center>
<p id="hidden-role"><%= current_user.player.card.role %></p>
<p id="round"></p>
</center>


<script>
  $.ajax({
    url: '/games/1/play',
    type: 'POST',
    data: {role: '<%= current_user.player.card.role %>'},
    dataType: 'json'
  });
</script>