<div id="seer">
  

</div>

<div id="robber">
  

</div>

<div id="villager">
  

</div>

<script>
$.ajax({
  url: '/games/1/play',
  type: 'POST',
  data: {role: '<%= current_user.player.card.role %>'},
  dataType: 'json'
});  

$('')
</script>