<div class="container">
  <center>
    <h2>LOBBY</h2>
    <br>
    <ul class="list-group" style="width:300px;">
    <li class="list-group-item">
      <strong><h4>Players (<%= @game.players.all.length %>)</h4></strong>
    </li>
      <% @game.players.each do |player| %>
        <li class="list-group-item" style="font-size:13px;"><%= player.nickname %></li>
      <% end %>
    </ul>
    

      <div class="btn group col-md-8 col-md-offset-4">
        <div class="col-md-4" style="padding-left:50px;">
          <button id="start" class="btn btn-lg btn-info btn-block" style="width: 200px; background-color: grey; border-color: grey;" disabled>Start </button>
        </div>
        <div class="col-md-4" style="margin-left:-7px;">
          <button id="start" class="btn btn-lg btn-danger btn-block" style="width: 50px;"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></button>
        </div>

      </div>
     
  </center>
</div>
